---
import Layout from "@/layouts/Layout.astro";


---

<Layout>
    <div class="relative flex flex-row w-full bg-[url('/images/hero.webp')] bg-cover bg-center mask-fade-bottom min-h-screen justify-center items-center">
        <h1>La porra</h1>
    </div>
</Layout>