---
import X from '../assets/svg/x.svg';
import Instagram from '../assets/svg/instagram.svg';
import GitHub from '../assets/svg/github.svg';
import Sponsors from '../components/Sponsors.astro';

---

<footer class="relative w-full flex flex-col items-center justify-center h-[400px] gap-y-4">
    <div
        class="absolute inset-0 bg-cover bg-bottom bg-[url('/images/footer.webp')] mask-[linear-gradient(transparent,black_50%)]"
    >
    </div>
    <div
    class="relative w-full flex flex-col justify-center gap-y-3 items-center text-dark-magenta"
    >
    <Sponsors />
    <div class="mt-6!">
        <p class="flex-wrap w-[250px] md:w-auto gap-y-3 text-center">© 2025 La Velada del año V, todos los derechos reservados</p>
    </div>

        <div class="w-full flex flex-row gap-x-2 justify-center items-center">
            <a
                href="https://x.com/jpalma76"
                target="_blank"
                class="inline-block hover:scale-125"
                title="X de jpalma76"
            >
                <X />
            </a>
            <a
                href="https://instagram.com/jpalma76"
                target="_blank"
                class="inline-block hover:scale-125"
                title="Instagram de jpalma76"
            >
                <Instagram>
            </a>
            <a
                href="https://github.com/jpalma76/la-desvelada-copia-de-la-velada"
                target="_blank"
                class="inline-block hover:scale-125"
                title="Repositorio del proyecto en GitHub"
            >
                <GitHub />
            </a>
        </div>
    </div>
</footer>
