---
interface Props {
  id: string;
  title: string;
}
const { id, title } = Astro.props as Props;
---

<section class="w-full !min-h-[700px] flex flex-col items-center justify-center">
  <slot id={id} title={title} />
</section>
