---
import SectionTitle from "@/components/SectionTitle.astro";
import LiteYoutube from "@/components/LiteYouTube.astro";
import Section from "@/components/Section.astro";

const videoId = "t7r5O_5B-E0";
const title = "Video de presentación de la Velada V";

---

<Section id="presentation" title="Presentación de la Velada V">
  <SectionTitle title="Video de presentación de la Velada V" />
  <div class="w-[400px] md:w-[600px] h-auto !mt-10">
    <LiteYoutube
      videoId={videoId}
      title={title}
      backgroundImage="/images/presentation-video-cover.webp"
    />
  </div>

  </div>
</Section>
