---
import SectionTitle from "@/components/SectionTitle.astro";
import LiteYoutube from "@/components/LiteYouTube.astro";

const videoId = "t7r5O_5B-E0";
const title = "Video de presentación de la Velada V";

---

<section
  id="presentation"
  class="w-full h-screen max-sm-[80%] flex flex-col items-center justify-center"
>
  <SectionTitle title="Video de presentación de la Velada V" />
  <div class="w-[50%] min-w-[80%] h-auto !mt-10">
    <LiteYoutube
      videoId={videoId}
      title={title}
      backgroundImage="/images/presentation-video-cover.webp"
    />
  </div>

  </div>
</section>
