---
import SectionTitle from "@/components/SectionTitle.astro";
import LiteYoutube from "@/components/LiteYouTube.astro";

const videoId = "t7r5O_5B-E0";
const title = "Video de presentación de la Velada V";

---

<section
  id="presentation"
  class="w-full min-h-[80dvh] max-sm-[300px] flex flex-col items-center justify-center my-24"
>
  <SectionTitle title="Video de presentación de la Velada V" />
  
  <div class="w-[600px] min-w-[300px] h-auto !my-10">
    <LiteYoutube
      videoId={videoId}
      title={title}
      backgroundImage="/images/presentation-video-cover.webp"
    />
  </div>

  </div>
</section>
