---
import { ClientRouter } from "astro:transitions";
import '/src/styles/global.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import  SpeedInsights  from "@vercel/speed-insights/astro"

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>
			La desvelada del año V - Esta es una versión no oficial de La Velada del año V
		</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta
			name="description"
			content="Version no oficial de la Velada V, organizado por Ibai Llanos"
		/>


		<meta property="og:type" content="website">
		<meta property="og:title" content="La Desvelada del año V">
		<meta 
			property="og:description" 
			content="página no oficial de la Velada del año V."
		>
		<meta property="og:image" content="/og.png" />
		<meta property="og:locale" content="es_ES" />


		<meta name="twitter:image" content="/og.png">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:type" content="website">
		<meta name="twitter:creator" content="@jpalma76">
		<meta name="twitter:title" content="La desvelada del año V - Esta es una versión no oficial de La Velada del año V">
		<meta name="twitter:description" content="Version no oficial de la Velada V, organizado por Ibai Llanos">
		<ClientRouter />
		<SpeedInsights />

	</head>
	<body>
		<Header />
		<main class="relative">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html,
	body {
		background-color: #f19fca;
	}
</style>
