---
import '/src/styles/global.css';

import { ClientRouter } from "astro:transitions";

import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import  SpeedInsights  from "@vercel/speed-insights/astro"

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>
			La desvelada del año V pagina no oficial - Esta es una versión no oficial de La Velada del año V - Evento de boxeo de Ibai Llanos con creadores de contenido
		</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta
			name="description"
			content="Esta es una versión no oficial de la Velada V, organizado por Ibai Llanos"
		/>

		<meta property="og:url" content="https://la-desvelada-v-sitio-no-oficial.netlify.app">
		<meta property="og:card" content="https://la-desvelada-v-sitio-no-oficial.netlify.app/og.png">

		<meta property="og:type" content="website">
		<meta property="og:title" content="La Desvelada del año V - Esta es una versión no oficial de La Velada del año V de Ibai Llanos">
		<meta 
			property="og:description" 
			content="Evento de boxeo aficiondo entre streamers y creadores de contenido, organizado por Ibai Llanos"
		>
		<meta property="og:image" content="https://la-desvelada-v-sitio-no-oficial.netlify.app/og.png" />
		<meta property="og:locale" content="es_ES" />


		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://la-desvelada-v-sitio-no-oficial.netlify.app">
		<meta name="twitter:type" content="website">
		<meta name="twitter:site" content="https://la-desvelada-v-sitio-no-oficial.netlify.app">
		<meta name="twitter:creator" content="@jpalma76">
		<meta name="twitter:title" content="La Desvelada del año V - Version no oficial de La Velada del año V de Ibai Llanos">
		<meta name="twitter:description" content="Version no oficial de la Velada V, organizado por Ibai Llanos">
		<ClientRouter />
	</head>
	<body>
		<Header />
		<main class="relative">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	

</style>
